name: Build GNU

on: [push, pull_request]
jobs:
  build:
    runs-on: windows-latest
    # strategy:
    #   matrix:
    #     target:
    #       - i686-win7-windows-gnu
    #       - x86_64-pc-windows-gnu
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      # with:
      #   # Make Rust compile to our target (defined in the matrix)
      #   targets: x86_64-pc-windows-gnu

    # - name: Install Cross
    #   run: cargo install cross --git https://github.com/cross-rs/cross

    - name: Cache cargo
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ matrix.target }}-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-

    - name: Build
      run: rustup default stable-x86_64-pc-windows-gnu && cargo build --target ${{ matrix.target }} --release --verbose 

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: binary-${{ matrix.target }}
        path: target/${{ matrix.target }}/release/caesiumclt.exe
