name: Cross-Platform Build

on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - i686-pc-windows-gnu
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        # Make Rust compile to our target (defined in the matrix)
        targets: ${{ matrix.target }}
    
    - name: Build
      run: cross build --target ${{ matrix.target }} --release --verbose 
    
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: binary-${{ matrix.target }}
        path: target/${{ matrix.target }}/release/
